/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/img
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
~*
*.swp
*.log
.htaccess
.node-version
sitemap.xml
sitemap.xml.gz
**/canp
**/data
**/wp-config.php
**/.idea
**/wp-content/backup-db/
**/wp-content/backups/
**/wp-content/blogs.dir/
**/wp-content/cache/
**/wp-content/upgrade/
**/wp-content/uploads/wp-sync-db/
wp-content/themes/.idea
wp-content/themes/**/.sass-cache/*
wp-content/themes/**/build/*
wp-content/themes/**/assets/.cache-loader/*
wp-content/themes/**/dev/tmp
wp-content/themes/**/*.log
wp-content/themes/**/*.html
!.gitkeep
**/node_modules/
**/dev/css/*.map
**/dev/js/*.map
**/dev/css/*.css
**/wp-content/plugins/siteguard/really-simple-captcha/tmp/
